
<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Fri Aug 14 2020 22:01:12 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="5f36ea1cbed43f5996ead8e5" data-wf-site="5f35cbaae946a4ab5cd48af2">
<head>
  <meta charset="utf-8">
  <title>Max&#x27;s Amazing Project</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/webflow.css" rel="stylesheet" type="text/css">
  <link href="css/maxs-amazing-project-e65032.webflow.css" rel="stylesheet" type="text/css">
  <style>@media (min-width:992px) {html.w-mod-js:not(.w-mod-ix) [data-w-id="96b39812-e9e8-5bf4-b6e6-76c03d5d7526"] {display:none;opacity:0;}html.w-mod-js:not(.w-mod-ix) [data-w-id="96b39812-e9e8-5bf4-b6e6-76c03d5d74dc"] {-webkit-transform:translate3d(0, 0PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);}}</style>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="images/webclip.png" rel="apple-touch-icon">
</head>
<body>
  <div class="page-wrap-2-0 pdp">
    <div data-w-id="96b39812-e9e8-5bf4-b6e6-76c03d5d74dc" class="pdp-nav">
      <div id="w-node-76c03d5d74dd-96ead8e5" class="div-block-312">
        <div class="text-block-218">This is some text inside of a div block.</div>
      </div>
      <div id="w-node-76c03d5d74e0-96ead8e5" class="cta-wrapper">
        <div class="add-to-cart-4">
          <form data-node-type="commerce-add-to-cart-form" class="w-commerce-commerceaddtocartform default-state-4">
            <div class="div-block-313"></div><input type="number" id="quantity-3c6a0e219cc2a02fa1648696d5ddbd92" name="commerce-add-to-cart-quantity-input" min="1" class="w-commerce-commerceaddtocartquantityinput quantity-4" value="1"><input type="submit" data-w-id="96b39812-e9e8-5bf4-b6e6-76c03d5d74e8" data-loading-text="Adding to cart..." value="Add to Cart" class="w-commerce-commerceaddtocartbutton submit-button-17 nav"></form>
          <div style="display:none" class="w-commerce-commerceaddtocartoutofstock">
            <div>This product is out of stock.</div>
          </div>
          <div data-node-type="commerce-add-to-cart-error" style="display:none" class="w-commerce-commerceaddtocarterror">
            <div class=".w-add-to-cart-error-msg" data-w-add-to-cart-quantity-error="Product is not available in this quantity." data-w-add-to-cart-general-error="Something went wrong when adding this item to the cart." data-w-add-to-cart-buy-now-error="Something went wrong when trying to purchase this item." data-w-add-to-cart-checkout-disabled-error="Checkout is disabled on this site.">Product is not available in this quantity.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="pdp-nav custom">
      <div id="w-node-76c03d5d74ef-96ead8e5" class="div-block-312">
        <div class="text-block-218">This is some text inside of a div block.</div>
      </div>
      <div id="w-node-76c03d5d74f2-96ead8e5" class="cta-wrapper custom">
        <div class="add-to-cart-4">
          <form data-node-type="commerce-add-to-cart-form" class="w-commerce-commerceaddtocartform default-state-4 custom">
            <div class="div-block-313 custom"></div><input type="number" id="quantity-3c6a0e219cc2a02fa1648696d5ddbd92" name="commerce-add-to-cart-quantity-input" min="1" class="w-commerce-commerceaddtocartquantityinput quantity-4" value="1"><input type="submit" data-w-id="96b39812-e9e8-5bf4-b6e6-76c03d5d74fa" data-loading-text="Adding to cart..." value="Add to Cart" class="w-commerce-commerceaddtocartbutton submit-button-17 nav"></form>
          <div style="display:none" class="w-commerce-commerceaddtocartoutofstock">
            <div>This product is out of stock.</div>
          </div>
          <div data-node-type="commerce-add-to-cart-error" style="display:none" class="w-commerce-commerceaddtocarterror">
            <div class=".w-add-to-cart-error-msg" data-w-add-to-cart-quantity-error="Product is not available in this quantity." data-w-add-to-cart-general-error="Something went wrong when adding this item to the cart." data-w-add-to-cart-buy-now-error="Something went wrong when trying to purchase this item." data-w-add-to-cart-checkout-disabled-error="Checkout is disabled on this site.">Product is not available in this quantity.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-pdp-nav">
      <div id="w-node-76c03d5d7501-96ead8e5" class="cta-wrapper">
        <div class="typeform-button-wrapper mobile">
          <div class="html-embed-22 abstract pinned _3 w-embed w-script"><a class="typeform-share button" href="https://form.typeform.com/to/IMgSYI30" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#154A2F;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:0px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Personalize + Checkout </a>
            <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
          </div>
          <div class="html-embed-22 birthdaybooze-2 w-embed w-script"><a class="typeform-share button" href="https://form.typeform.com/to/RUH4TmMv" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#154A2F;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:0px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Personalize + Checkout </a>
            <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
          </div>
          <div class="html-embed-22 birthdaybooze-1 w-embed w-script"><a class="typeform-share button" href="https://form.typeform.com/to/a0z5baQW" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#154A2F;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:0px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Personalize + Checkout </a>
            <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
          </div>
          <div class="html-embed-22 face-on-a-can w-embed w-script"><a class="typeform-share button" href="https://form.typeform.com/to/aITrT11R" data-mode="popup" style="display:inline-block;text-decoration:none;background-color:#154A2F;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:0px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Personalize + Checkout </a>
            <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
          </div>
        </div>
        <div class="add-to-cart-4">
          <form data-node-type="commerce-add-to-cart-form" class="w-commerce-commerceaddtocartform default-state-4">
            <div class="div-block-313 m"></div><input type="number" id="quantity-3c6a0e219cc2a02fa1648696d5ddbd92" name="commerce-add-to-cart-quantity-input" min="1" class="w-commerce-commerceaddtocartquantityinput quantity-4" value="1"><input type="submit" data-loading-text="Adding to cart..." value="Add to Cart" class="w-commerce-commerceaddtocartbutton submit-button-17 nav m"></form>
          <div style="display:none" class="w-commerce-commerceaddtocartoutofstock out-of-stock-state-2">
            <div class="text-block-222">This product is out of stock.</div>
          </div>
          <div data-node-type="commerce-add-to-cart-error" style="display:none" class="w-commerce-commerceaddtocarterror">
            <div class=".w-add-to-cart-error-msg" data-w-add-to-cart-quantity-error="Product is not available in this quantity." data-w-add-to-cart-general-error="Something went wrong when adding this item to the cart." data-w-add-to-cart-buy-now-error="Something went wrong when trying to purchase this item." data-w-add-to-cart-checkout-disabled-error="Checkout is disabled on this site.">Product is not available in this quantity.</div>
          </div>
        </div>
      </div>
    </div>
    <div data-w-id="96b39812-e9e8-5bf4-b6e6-76c03d5d7514" class="pdp-hero-section typeform">
      <div class="w-layout-grid grid-13 custom">
        <div class="pdp-left custom">
          <div class="tab-container tab custom">
            <div class="tabs-menu-2 non-tabb custom">
              <div class="w-dyn-list">
                <div role="list" class="w-dyn-items">
                  <div role="listitem" class="w-dyn-item">
                    <div class="product-thumbnail"></div>
                  </div>
                </div>
                <div class="w-dyn-empty">
                  <div>No items found.</div>
                </div>
              </div>
            </div>
            <div data-duration-in="300" data-duration-out="100" class="tabs custom w-tabs">
              <div class="tabs-content-2 custom w-tab-content">
                <div data-w-tab="Tab 1" class="tab-pane-tab-1-2 w-tab-pane w--tab-active">
                  <div class="tab-content">
                    <div id="w-node-76c03d5d7524-96ead8e5" data-w-id="96b39812-e9e8-5bf4-b6e6-76c03d5d7524" class="product-photo-wraper">
                      <div class="product-photo _1 single-can custom"></div>
                      <div data-w-id="96b39812-e9e8-5bf4-b6e6-76c03d5d7526" class="zoomed-product-photo"></div>
                    </div>
                  </div>
                </div>
                <div data-w-tab="Trio Photo slide" class="tab-pane-tab-2-2 w-tab-pane">
                  <div class="tab-content custom">
                    <div data-w-id="96b39812-e9e8-5bf4-b6e6-76c03d5d7529" class="product-photo-wraper custom">
                      <div class="product-photo _1 custom"></div>
                      <div class="zoomed-product-photo _2"></div>
                    </div>
                  </div>
                </div>
                <div data-w-tab="Tab 3" class="tab-pane-tab-3-2 w-tab-pane">
                  <div class="tab-content custom">
                    <div data-w-id="96b39812-e9e8-5bf4-b6e6-76c03d5d752e" class="product-photo-wraper _3 custom">
                      <div class="product-photo _1 custom"></div>
                      <div class="zoomed-product-photo _3"></div>
                    </div>
                  </div>
                </div>
                <div data-w-tab="Tab 4" class="tab-pane-tab-4 w-tab-pane">
                  <div class="tab-content custom">
                    <div data-w-id="96b39812-e9e8-5bf4-b6e6-76c03d5d7533" class="product-photo-wraper custom">
                      <div class="product-photo _1 custom"></div>
                      <div class="zoomed-product-photo _4"></div>
                    </div>
                  </div>
                </div>
                <div data-w-tab="Tab 5" class="tab-pane-tab-5 w-tab-pane">
                  <div class="tab-content custom">
                    <div data-w-id="96b39812-e9e8-5bf4-b6e6-76c03d5d7538" class="product-photo-wraper custom">
                      <div class="product-photo _1 custom"></div>
                      <div class="zoomed-product-photo _5"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tabs-menu-2 tab w-tab-menu"><a data-w-tab="Tab 1" class="product-thumbnail tab w-inline-block w-tab-link w--current"></a><a data-w-tab="Trio Photo slide" class="product-thumbnail tab w-inline-block w-tab-link"></a><a data-w-tab="Tab 3" class="product-thumbnail tab w-inline-block w-tab-link"></a><a data-w-tab="Tab 4" class="product-thumbnail tab w-inline-block w-tab-link"></a><a data-w-tab="Tab 5" class="product-thumbnail tab w-inline-block w-tab-link"></a></div>
            </div>
          </div>
        </div>
        <div class="pdp-right custom">
          <div class="text-wrapper custom">
            <div class="h4-text">This is some text inside of a div block.</div>
            <div class="price-cell green">
              <div class="h4-text green">This is some text inside of a div block.</div>
            </div>
            <div class="div-block-382">
              <div class="text-block-244">Get updated once we&#x27;re back in stock </div>
              <div class="w-form">
                <form id="email-form" name="email-form" data-name="Email Form" class="form-11"><input type="email" class="text-field-32 w-input" maxlength="256" name="Kobe-Out-of-Stock-3" data-name="Kobe Out Of Stock 3" placeholder="Enter email " id="Kobe-Out-of-Stock-3" required=""><input type="submit" value="Submit" data-wait="Please wait..." class="submit-button-21 w-button"></form>
                <div class="success-message-14 w-form-done">
                  <div>The Legends Never Die series cans will be back in stock next week, and we’ll let you know as soon as they’re available. Hang tight!</div>
                </div>
                <div class="w-form-fail">
                  <div>Oops! Something went wrong while submitting the form.</div>
                </div>
              </div>
            </div>
            <div class="paragraph-21 w-richtext"></div>
            <div class="value-prop-wrapper">
              <div class="valueprop-2"><img src="images/clock.svg" width="17" alt="">
                <div class="text-block-217">This is some text inside of a div block.</div>
              </div>
              <div class="value-prop-1"><img src="images/map-icon.svg" width="17" alt="">
                <div class="text-block-217">Delivery currently limited to California</div>
              </div>
            </div>
          </div>
          <div class="custom-cell">
            <div class="text-block-245">Personalize It</div>
            <div class="form-block-10 w-form">
              <form id="forms" name="wf-form-custom-cans" data-name="custom cans">
                <div class="div-block-383"><label for="email" class="label">Email Address</label>
                  <div class="fine-print w-file-upload-info">*required for custom orders</div>
                </div><input type="email" class="custom-email w-input" maxlength="256" name="email-3" data-name="Email 3" placeholder="" id="email-custom" required="">
                <div class="custom-text-cell">
                  <div class="div-block-394"><label for="name" class="label">Add custom text </label>
                    <div class="fine-print">This is some text inside of a div block.</div>
                  </div><input type="text" class="custom-message w-input" maxlength="256" name="name" data-name="Name" placeholder="" id="message"></div>
                <div class="upload-cell"><label for="name" class="label">Upload IMG</label>
                  <div class="w-file-upload">
                    <div class="w-file-upload-default"><input type="file" id="file-3" name="file-3" data-name="File 3" accept="" class="w-file-upload-input"><label for="file" id="upload-button" class="upload-button w-file-upload-label"><div class="w-icon-file-upload-icon"></div><div class="w-inline-block">Upload File</div></label>
                      <div class="fine-print w-file-upload-info">*Max file size 10MB.</div>
                    </div>
                    <div class="w-file-upload-uploading w-hidden">
                      <div class="w-file-upload-uploading-btn"><svg class="w-icon-file-upload-uploading" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30"><path fill="currentColor" opacity=".2" d="M15 30a15 15 0 1 1 0-30 15 15 0 0 1 0 30zm0-3a12 12 0 1 0 0-24 12 12 0 0 0 0 24z"></path><path fill="currentColor" opacity=".75" d="M0 15A15 15 0 0 1 15 0v3A12 12 0 0 0 3 15H0z"></path><animatetransform attributename="transform" attributetype="XML" dur="0.6s" from="0 15 15" repeatcount="indefinite" to="360 15 15" type="rotate"></animatetransform></svg>
                        <div class="w-inline-block">Uploading...</div>
                      </div>
                    </div>
                    <div class="w-file-upload-success w-hidden">
                      <div class="w-file-upload-file">
                        <div class="w-file-upload-file-name">fileuploaded.jpg</div>
                        <div class="w-file-remove-link">
                          <div class="w-icon-file-upload-remove"></div>
                        </div>
                      </div>
                    </div>
                    <div class="w-file-upload-error w-hidden">
                      <div class="w-file-upload-error-msg" data-w-size-error="Upload failed. Max size for files is 10 MB." data-w-type-error="Upload failed. Invalid file type." data-w-generic-error="Upload failed. Something went wrong. Please retry.">Upload failed. Max size for files is 10 MB.</div>
                    </div>
                  </div>
                </div><input type="submit" value="Add personalization" data-wait="Please wait..." id="add-button" class="submit-button-22 w-button"></form>
              <div class="success-message-15 w-form-done">
                <div class="text-block-246">Your custom info has been received! To complete your order, simply select your beverage quantity + add to cart + submit payment.</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
          <div class="desktop-add-to-cart-pdp custom">
            <form data-node-type="commerce-add-to-cart-form" class="w-commerce-commerceaddtocartform default-state-3 custom"><input type="number" id="quantity-3c6a0e219cc2a02fa1648696d5ddbd92" name="commerce-add-to-cart-quantity-input" min="1" class="w-commerce-commerceaddtocartquantityinput quantity-3" value="1"><input type="submit" value="Add To Cart" id="hero-addtocart" data-w-id="96b39812-e9e8-5bf4-b6e6-76c03d5d7596" data-loading-text="Adding to cart..." class="w-commerce-commerceaddtocartbutton submit-button-17 custom"></form>
            <div style="display:none" class="w-commerce-commerceaddtocartoutofstock out-of-stock-state">
              <div class="text-block-221">This product is out of stock.</div>
            </div>
            <div data-node-type="commerce-add-to-cart-error" style="display:none" class="w-commerce-commerceaddtocarterror">
              <div class=".w-add-to-cart-error-msg" data-w-add-to-cart-quantity-error="Product is not available in this quantity." data-w-add-to-cart-general-error="Something went wrong when adding this item to the cart." data-w-add-to-cart-buy-now-error="Something went wrong when trying to purchase this item." data-w-add-to-cart-checkout-disabled-error="Checkout is disabled on this site.">Product is not available in this quantity.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-11">
      <div class="div-block-316">
        <div class="h5-14">DETAILS</div><img src="images/arrow.svg" alt=""></div>
      <div class="text-block-216 w-richtext"></div>
    </div>
    <div class="detail-sections">
      <div class="div-block-309">
        <div class="div-block-310">
          <div class="h4---24">Beverage Details</div>
          <div class="body-16 w-richtext"></div>
        </div>
        <div class="div-block-311">
          <div class="h4---24">Delivery Details</div>
          <div class="body-16 w-richtext"></div>
        </div>
      </div>
    </div>
    <div class="recommended-section">
      <div class="card-header shorter pink">
        <div class="text-block-131">You may also like</div><a href="#" class="button-17 w-button">SEE ALL</a></div>
      <div class="shop-all-variety-packs">
        <div class="collection-list-wrapper-11 w-dyn-list">
          <div role="list" class="shop-all w-dyn-items">
            <div id="w-node-76c03d5d76e1-96ead8e5" role="listitem" class="shop-all-item w-dyn-item"></div>
          </div>
          <div class="w-dyn-empty">
            <div>No items found.</div>
          </div>
        </div>
      </div>
    </div>
    <div loading="lazy" class="instagram-wrapper">
      <div class="div-block-15">
        <h3 class="heading-10">GIVE US A FOLLOW</h3>
        <a href="https://www.instagram.com/eliqs" target="_blank" class="div-block-17 w-inline-block">
          <h3 class="heading-10 instagram">@ELIQS</h3>
          <div class="div-block-16"></div>
        </a>
      </div>
      <div loading="lazy" class="html-embed w-embed w-script">
        <script src="https://apps.elfsight.com/p/platform.js" defer=""></script>
        <div class="elfsight-app-3ba80092-a54e-45f0-99a2-89aab5da2dc4"></div>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5f35cbaae946a4ab5cd48af2" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>